* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#260259
:root {

    --text-color: white 
    

}


body { 
    background-color: aliceblue;

}


body * {
    font-family: initial;

}

#container {
    width: 100;
    margin: auto;
    padding: 25;

}
